@model leave_managementPetar.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table id="tblData" class="table bg-white">
    <thead>
        <tr>
            <th>
                Leave Types
            </th>
            <th>
                Number of days
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveTypes)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultDays)
            </td>
            <td>
               
                <a class="btn btn-primary" asp-action="SetLeave" asp-route-id="@item.Id">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Allocate To All Employees
                </a>
            </td>
            <td>
               
                <a class="btn btn-info" asp-action="SetLeaveAdmins" asp-route-id="@item.Id">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    Allocate To Admins
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>


    </script>
}