@{
    ViewData["Title"] = "Home Page";
}

<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 class="h1" style="font-size:48px">Welcome to Leave Management Petar!</h1>
                <h2>This is a .NET Core Leave Management Application for educational purposes</h2>
                <div >
                    <div class="text-lg-start">
                        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="btn btn-primary btn-lg align-items-center justify-content-center align-self-center">
                            <span>Privacy</span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero">
                <img src="https://bootstrapmade.com/demo/templates/FlexStart/assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>

