@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Leave Management!</h1>
    <p class="lead">This is a .NET Core Leave Management Application for educational purposes</p>
    <hr class="my-4">
    <p>
        NET Core Leave Management Application for educational purposes. This project implements:
    </p>
    <div class="card-footer p-0">
        <ul class="nav flex-column">
            <li class="nav-item">
                .NET Core 3.1
            </li>
            <li class="nav-item">
                AutoMapper
            </li>
            <li class="nav-item">
                Entity Framework, Code First
            </li>
            <li class="nav-item">
                Repository Pattern
            </li>
            <li class="nav-item">
                Identity and Authentication
            </li>
            <li class="nav-item">
                Bootstrap 4,Admin LTE Theme
            </li>
        </ul>
      </div>
        <p class="lead">
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Privacy" role="button">Privacy</a>
        </p>
    </div>
